* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  font-family: "Rubik", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

img, svg, button {
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  position: sticky;
  top: 0;
  background: #ffffff;
  border-bottom: var(--color-category-background);
  z-index: 2;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1.5rem;
}
.header__logo {
  cursor: pointer;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.header__log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 9.5rem;
  height: 2.765rem;
  border: none;
  background: linear-gradient(135deg, #FFA553 0%, #FF6C58 100%);
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 1.375rem;
}
.header__log-inner {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.header__log-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #fff;
}
.header__elementsResponsive {
  display: none;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-border);
  border-radius: 6.25rem;
  height: 2.765rem;
  box-shadow: 0 0.25rem 0.75rem 0 rgba(0, 0, 0, 0.0784313725);
  width: 100%;
  margin: 0 2rem;
}
.input-container__search-input {
  border: none;
  background: none;
  outline: none;
  flex: 1;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding: 1rem 1.3rem;
  color: #000000;
}
.input-container__search-input::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.2509803922);
}
.input-container__search-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.2509803922);
}
.input-container__search-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.75rem;
  border-left: 1px solid #EEEEEE;
}

.category {
  display: flex;
  align-items: center;
  height: 3.25rem;
  width: 100%;
  padding: 0 1.5rem;
  background: var(--color-category-background);
}
.category__item-list {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.category__item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;
}
.category__categoryName {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--color-primary-text);
}

.keywords {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  width: 100%;
  gap: 2rem;
  grid-gap: 2rem;
}
.list__item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: left;
  background: rgba(235, 235, 235, 0.6);
  border-radius: 12px;
  padding: 1.5rem 2rem;
  cursor: pointer;
}
.list__name {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--color-primary-text);
}
.list__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6784313725);
}

.book-genres {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 2rem;
  padding: 1.5rem;
}
.book-genres__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11.25rem, 1fr));
  width: 100%;
  gap: 2rem;
  grid-gap: 2rem;
}
.book-genres__item {
  display: flex;
  flex-direction: column;
  justify-content: left;
  justify-content: space-between;
  background: #F2F2F2;
  height: 6.625rem;
  border-radius: 0.5rem;
  padding: 0.625rem;
  cursor: pointer;
}
.book-genres__span {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: var(--color-primary-text);
}
.book-genres__img {
  max-width: 28px;
  height: 28px;
}

.textCategory {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: var(--color-primary-text);
}
.textCategory__category-name {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: var(--color-primary-text);
}
.textCategory__category-all {
  color: var(--color-a-tag);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  position: relative;
  top: 1px;
}

.best-selling {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}
.best-selling__book-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  justify-content: space-between;
  gap: 0.1rem;
  padding: 1.5rem 0;
}
.best-selling__book-card {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 1rem;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 0;
  cursor: pointer;
  max-width: 190px;
}
.best-selling__rating {
  position: absolute;
  top: 1.2rem;
  left: -0.5rem;
  background-color: rgba(102, 102, 102, 0.5490196078);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.best-selling__star {
  width: 16px;
  height: 16px;
}
.best-selling__rating-text {
  position: relative;
  top: 1px;
  font-size: 15px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #ffffff;
}
.best-selling__description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.best-selling__name {
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-primary-text);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.best-selling__genre {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6784313725);
}
.best-selling__price {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8705882353);
}

.hero-slider {
  padding: 1.5rem;
  max-width: 1920px;
  margin: 0 auto;
}
.hero-slider__inner {
  display: grid;
  grid-template-columns: minmax(66%, 1fr) minmax(32%, 1fr);
  grid-gap: 35px;
  gap: 35px;
}
.hero-slider__swiper-container .slider .swiper-wrapper .slider-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.hero-slider__swiper-container .slider .swiper-wrapper .slider-slide img {
  width: 100%;
  height: 100%;
}
.hero-slider__swiper-container .slider .swiper-pagination {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.hero-slider__swiper-container .slider .swiper-pagination-bullet {
  width: 34px !important;
  height: 34px !important;
}
.hero-slider__swiper-container .slider .swiper-pagination-bullet-active {
  border: 5px solid #fff !important;
  background: #000 !important;
  width: 39px;
  height: 39px;
}
.hero-slider__swiper-container .slider .swiper-button-next-slider,
.hero-slider__swiper-container .slider .swiper-button-prev-slider {
  top: 82% !important;
  background: #fff !important;
  border-radius: 50% !important;
  width: 74px !important;
  height: 74px !important;
  z-index: 1 !important;
}
.hero-slider__swiper-container .slider .swiper-button-next-slider::after,
.hero-slider__swiper-container .slider .swiper-button-prev-slider::after {
  font-size: 28px !important;
  font-weight: 900 !important;
  color: #000 !important;
}
.hero-slider__banner-img {
  width: 100%;
}

.swiper-articles {
  width: 100%;
  height: 400px;
}
.swiper-articles .swiper-wrapper-articles .swiper-articles-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 282px;
}

.footer {
  background: #232323;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
}
.footer__inner {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 5rem;
  width: 100%;
  height: 280px;
}
.footer__about-us {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.footer__about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6784313725);
}
.footer__ad-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6784313725);
}
.footer__services {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.footer__additional-data {
  display: flex;
  width: 100%;
  height: 90px;
}
.footer__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.footer__info-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.footer__payment-types {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}
.footer__payments-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  align-items: center;
  grid-gap: 0.5rem;
}
.footer__social-wrap {
  display: flex;
  align-items: center;
  grid-gap: 1rem;
}
.footer__payment-names {
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8705882353);
}
.footer__download-app {
  display: flex;
  flex-direction: column;
  gap: 1.0625rem;
}
.footer__download-wrap {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.footer__download-way {
  display: flex;
  align-items: center;
  background: #D3D3D3;
  border-radius: 4px;
  max-width: -moz-fit-content;
  max-width: fit-content;
  height: 50px;
  padding: 0.75rem;
  gap: 0.5rem;
  border: none;
}
.footer__download-name {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.footer__app-download {
  font-size: 16px;
  font-weight: 700;
  line-height: 14px;
  text-align: left;
  color: #282828;
}

.company-overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.company-overview__content-card {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.company-overview__content-name-span {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.company-overview__content-subsections {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
}
.company-overview__content-subsection {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  color: rgba(255, 255, 255, 0.6784313725);
}

.input-email {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.375rem;
  height: 44px;
  margin-top: 0.9375rem;
}
.input-email__input-wrap {
  height: 100%;
  width: 100%;
}
.input-email__search-input {
  background: #444444;
  border: 1px solid #B8B8B8;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  color: #c3c3c3;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 1rem;
}
.input-email__search-input::-moz-placeholder {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
}
.input-email__search-input::placeholder {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.01em;
  text-align: left;
}
.input-email__email-us {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 48px;
  height: 44px;
  background: linear-gradient(135deg, #FFA553 0%, #FF6C58 100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.loader--active {
  display: flex;
  overflow-y: hidden;
}
.loader__animation {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50px;
  height: 80px;
  animation: rotate-book 1.5s infinite;
}
.loader__book {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}
.loader__book-cover {
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: #f4a261;
  /* Cover color */
  transform: translateZ(5px);
  /* Gives a 3D depth for the book cover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.loader__book-pages {
  position: absolute;
  width: 50px;
  height: 80px;
  background-color: #fff;
  /* Page color */
  transform: translateZ(0px);
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem auto;
  width: 100%;
}
.product__inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  width: 81.76%;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 0.625rem;
}
.product__name {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8705882353);
  margin-bottom: 5px;
}
.product__data-product {
  display: flex;
  align-items: center;
  gap: 25px;
}
.product__data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.product__reviews {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 15px;
}
.product__actions {
  display: flex;
  flex-direction: column;
}
.product__reviews-number {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8705882353);
}
.product__rating {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.product__details {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  margin-bottom: 25px;
}
.product__quantity {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}
.product__sub {
  border-right: 0.5px solid #E1E1E1;
  min-width: 31px;
  height: 26px;
}
.product__add {
  border-left: 0.5px solid #E1E1E1;
  min-width: 31px;
  height: 26px;
}
.product__price {
  color: rgba(0, 0, 0, 0.8705882353);
  font-family: Rubik, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 37.5px;
  letter-spacing: 0.025rem;
}
.product__hardcover {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 30px;
}
.product__hardcover-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 206px;
  height: 67px;
  padding: 8px;
  gap: 0.625rem;
  border-radius: 5px;
  border: 1px solid #E7E7E7;
}
.product__binding {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.015rem;
  color: rgba(0, 0, 0, 0.6784313725);
}
.product__binding-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.6784313725);
}
.product__additional-functions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__type-purchase {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.product__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  height: 45px;
  border-radius: 5px;
  background: linear-gradient(135deg, #FFA553 0%, #FF6C58 100%);
  border: none;
  cursor: pointer;
}
.product__buy-span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
.product__addTo-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8.625rem;
  height: 45px;
  padding: 0.5rem 13px;
  gap: 0.5rem;
  border: 1.75px solid #FFA553;
  border-radius: 5px;
  cursor: pointer;
}
.product__cart-span {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
}
.product__type-delivery {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: initial;
}
.product__ordinary-delivery {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.product__delivery-img {
  max-width: 30px;
  height: 30px;
}
.product__delivery-speed {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8705882353);
}
.product__free {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #08C551;
}
.product__for-money {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.01em;
  color: #E16100;
}
.product__description {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.product__desc-span {
  color: rgba(0, 0, 0, 0.8705882353);
  font-size: 23px;
  font-weight: 600;
  line-height: 34.5px;
  letter-spacing: 0.01em;
}
.product__desc-wrapper {
  width: 100%;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 10px;
}
.product__desc-text {
  font-size: 17px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: black;
}

/* Animation keyframes */
@keyframes rotate-book {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@media (max-width: 807px) {
  .header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 807px) {
  .header__logo {
    order: 1;
  }
}
@media (max-width: 807px) {
  .header__actions {
    order: 2;
  }
}
@media (max-width: 807px) {
  .header__elementsResponsive {
    display: block;
    align-self: center;
    position: relative;
    bottom: 0.25rem;
  }
}
@media (max-width: 807px) {
  .header__log-in {
    display: none;
  }
}
@media (max-width: 807px) {
  .header__cart {
    display: none;
  }
}
@media (max-width: 807px) {
  .header__wishlist {
    display: none;
  }
}

@media (max-width: 807px) {
  .category__inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    overflow-y: auto;
    width: 100%;
  }
}

@media (max-width: 904px) {
  .best-selling__book-cards {
    display: flex;
    align-items: center;
    overflow-y: auto;
    width: 100%;
    gap: 0.5rem;
    height: 100%;
  }
}
@media (max-width: 904px) {
  .best-selling__book-card {
    display: flex;
    padding: 0.5rem;
    min-width: 190px;
    flex-direction: column;
  }
}
@media (max-width: 904px) {
  .best-selling__rating {
    left: 0.5rem;
  }
}

@media (max-width: 807px) {
  .input-container {
    order: 3;
    margin: 0.625rem 0 0 0;
  }
}

@media (max-width: 1200px) {
  .footer__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .footer__info-section {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 3.125rem;
    margin-top: 2rem;
  }
}

@media (max-width: 1200px) {
  .company-overview {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 2rem;
  }
}

@media (max-width: 807px) {
  .textCategory {
    display: flex;
    flex-direction: column;
    align-items: unset;
    gap: 0.25rem;
  }
}

@media (max-width: 807px) {
  .hero-slider .slider .swiper-pagination-bullet {
    width: 25px !important;
    height: 25px !important;
  }
}
@media (max-width: 500px) {
  .hero-slider .slider .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
  }
}
@media (max-width: 807px) {
  .hero-slider .slider .swiper-pagination-bullet-active {
    border: 5px solid #fff !important;
    background: #000 !important;
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 500px) {
  .hero-slider .slider .swiper-pagination-bullet-active {
    border: 2.5px solid #fff !important;
  }
}
@media (max-width: 807px) {
  .hero-slider .slider .swiper-button-next-slider,
  .hero-slider .slider .swiper-button-prev-slider {
    width: 54px !important;
    height: 54px !important;
    z-index: 1 !important;
  }
}
@media (max-width: 500px) {
  .hero-slider .slider .swiper-button-next-slider,
  .hero-slider .slider .swiper-button-prev-slider {
    width: 34px !important;
    height: 34px !important;
  }
}
@media (max-width: 807px) {
  .hero-slider .slider .swiper-button-next-slider::after,
  .hero-slider .slider .swiper-button-prev-slider::after {
    font-size: 21px !important;
    font-weight: 900 !important;
    color: #000 !important;
  }
}
@media (max-width: 500px) {
  .hero-slider .slider .swiper-button-next-slider::after,
  .hero-slider .slider .swiper-button-prev-slider::after {
    font-size: 14px !important;
  }
}
@media (max-width: 1200px) {
  .hero-slider__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .hero-slider__swiper-container {
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .hero-slider__hot-news {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .product__data {
    flex-direction: column;
    gap: 1.5rem;
    justify-content: unset;
  }
}
@media (max-width: 1200px) {
  .product__data-product {
    flex-direction: column;
    align-items: initial;
  }
}
@media (max-width: 1200px) {
  .product__type-purchase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .product__hardcover {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.25rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 1200px) {
  .product__additional-functions {
    display: flex;
    align-items: center;
    width: 100%;
  }
}
@media (max-width: 1200px) {
  .product__share-wishlist {
    display: none;
  }
}

:root {
  --color-text-gray: #7a7a7a;
  --color-border: #E1E1E1;
  --color-icons: #343538;
  --color-category-background: #F5F5F5;
  --color-primary-text: #000000DE;
  --color-a-tag: #FFA553;
}

@font-face {
  font-family: "Rubik";
  src: url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
}/*# sourceMappingURL=main.css.map */