:root {
    --color-text-gray: #7a7a7a;
    --color-border: #E1E1E1;
    --color-icons: #343538;
    --color-category-background: #F5F5F5;
    --color-primary-text: #000000DE;
    --color-a-tag: #FFA553;
}
